<!DOCTYPE html>
<html>
<head>
  <title>Student Project Collaboration</title>
  <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
  <div class="container">
    <h1>Welcome to Student Project Collaboration</h1>
    <div class="options">
      <a href="/publish">Publish Project</a>
      <a href="/join">Join a Project</a>
    </div>
  </div>
</body>
</html>
