<!DOCTYPE html>
<html>
<head>
  <title>Join a Project - Student Project Collaboration</title>
  <link rel="stylesheet" type="text/css" href="css/styles.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"></script>
  <script src="/script.js"></script>
</head>
<body>
  <div class="container">
    <h1>Join a Project</h1>
    <div id="project-list">
      <!-- Project cards will be dynamically added here -->
    </div>
  </div>
</body>
</html>
