<!DOCTYPE html>
<html>
<head>
  <title>Login - Student Project Collaboration</title>
  <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
  <div class="container">
    <h1>Login</h1>
    <form id="login-form">
      <input type="text" placeholder="Username" id="username">
      <input type="password" placeholder="Password" id="password">
      <button type="submit">Login</button>
    </form>
  </div>
</body>
</html>
